.demo {
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  border-radius: 10px;
  color: #fff;
  width: 50%;
  padding: 30px;
  margin: 30px auto;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}
div {
  display: block;
}

.demo h1 {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 4px;
}
h1 {
  display: block;
  font-size: 2em;
  text-align: center;
}
.demo h2 {
  text-align: center;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.demo img {
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  width: 260px;
  height: 185px;
}
hr {
  display: block;
}
.demo p {
  line-height: 1.5;
  font-size: 24px;
}
p {
  display: block;
}
.demo button {
  background: rgba(0, 0, 0, 0.87);
  border: none;
  font-size: 42px;
  border-radius: 4px;
  transition: opacity 150ms ease;
  box-shadow: 0 1px 20px rgb(0 0 0 / 50%);

  color: #fff;
  display: block;
  padding: 10px 20px;

  cursor: pointer;

  margin: 30px auto;
}
button:hover {
  color: white;
  opacity: 0.9;
}
a {
  color: #fff;
}
